.title {
    font: var(--headLine5);
    text-decoration: none;
    padding-inline-end: 8px;
    padding-inline-start: 8px;
    padding-block-start: 4px;
    padding-block-end: 4px;
    background: var(--purple);
    color: var(--white);
    box-shadow: -4px 4px 0 var(--white);
    align-self: flex-start;
}
